<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>films</h1>
        <ul id="film-list">
        </ul>


        <a href="#" onClick="getFilms(1)">1</a>
        <a href="#" onClick="getFilms(2)">2</a>
        <a href="#" onClick="getFilms(3)">3</a>
    </div>
<script>

console.log('------------------------------1');
$.getJSON('/slim/public/api/films/1', function(data) {
        console.log('---- jquery');
        console.log(JSON.stringify(data));
        // $.getJSON('/slim/public/api/films', function(data) {
        //     console.log(JSON.stringify(data));
        //     $.getJSON('/slim/public/api/films', function(data) {
        //         console.log(JSON.stringify(data));
        //     });
        // });
});

console.log('------------------------------2');

function getFilms(page) {
    fetch('/slim/public/api/films/' + page)
    .then(function(response) {
        if (response.status !== 200) {
            alert('ERRORE');
        }
        return response.json();
    })
    .then(function(myJson) {
        console.log('---- fetch');
        console.log(JSON.stringify(myJson));
        console.log(myJson);
        var output = '';
        for(var i = 0; i < myJson.length; i++) { 
            output +='<li>' + myJson[i].title + '</li>';
        }
        var el = document.getElementById('film-list').innerHTML = output;
    })

}

console.log('------------------------------3');
</script>
</body>
</html>