<nav>
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link active" href="pippo">Dashboard</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="/slim/public/users">Utenti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/slim/public/posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/slim/public/users/logout">Logout</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="pippo">Posts privati</a>
        </li> -->
    </ul>
</nav>