<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">

<?php
require_once('menu.phtml');
?>

        <a href="users/create">New User</a>

        <ul>
<?php
    foreach ($allUsers as $user) {
?>
        <li>
            <?= $user->getEmail(); ?>
             - <a href="users/edit/<?= $user->getId() ?>">modifica</a>
             - <a href="users/delete/<?= $user->getId() ?>">elimina</a>
        </li>
<?php
    }
?>
        </ul>
    </div>

</body>
</html>