<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container">

<?php
require_once('menu.phtml');
?>

<?php 
    if (count($errorMessages) > 0) {
        var_dump($errorMessages);
    }
?>
        <?php
        if (isset($user)) {
        ?>
        <form id="user-form" method="POST" action="/slim/public/users/update">
            <input type="hidden" name="id" value="<?= $user->getId() ?>" />
        <?php
        } else {
            $user = new User('','');
            if (count($values) > 0) {
                $user->setEmail($values['email']);
                $user->setName($values['name']);
                $user->setSurname($values['surname']);
            }

        ?>
        <form  id="user-form" method="POST" action="/slim/public/users/insert">
        <?php
        }
        ?>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="<?= $user->getEmail() ?>">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="<?= $user->getPassword() ?>">
            </div>
            <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter name" value="<?=$user->getName() ?>">
            </div>
            <div class="form-group">
                <label for="exampleInputSurname1">Surname</label>
                <input type="text" name="surname" class="form-control" id="exampleInputSurname1" aria-describedby="surnameHelp" placeholder="Enter surname" value="<?= $user->getSurname() ?>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<script>
    
$.validator.setDefaults({
    submitHandler: function(form) {
        form.submit();
    }
});

$().ready(function() {
    $("#user-form").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true,
                minlength: 5
            },
            name: {
                minlength: 2
            },
            surnmame: {
                minlength: 2
            }
        },
        messages: {
            email: 'Mail obbligatoria'
        }
    });
});

</script>
</body>
</html>